@mixin column__flex {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.profile__gradient {
    height: 100%;
    width: 307px;
    background: linear-gradient(to bottom, var(--color-menu-max), var(--color-menu-min));
}

.profile__menu {
    margin-top: calc(var(--header-height) + 65px);
    background: linear-gradient(to top, var(--color-menu-max), var(--color-menu-min));

    &__flex {
        @include column__flex;
        justify-content: flex-start;
        height: 425px;
        width: 307px;
        color:  var(--main-color-text);
    }

    &__column {
        @include column__flex;
        justify-content: center;
        height: 100%;

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &__links {
        cursor: pointer;
        font-size: 20px;
        color: var(--main-color-text);
        margin-left: 52px;
        margin-bottom: 30px;

        &:hover {
            color: var(--primary-color);
        }
    }

    &__header {
        font-size: 36px;
        color: var(--main-color-text);
        margin-left: 52px;
        margin-bottom: 45px;
    }
}

[data-active-link="true"] {
    color: var(--primary-color);
}
